.album-list {
  display: flex;
  flex-wrap: wrap;

  .album-card {
    max-width: 12rem;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 6px 5px 5px rgba(8, 5, 2, 0.2);
    margin: 1rem;
    background-color: $bg;
    position: relative;
    .album-Name {
      overflow: hidden;
      max-height: 3rem;
      height: 3rem;
    }

    .remove-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: white;
      color: rgb(233, 79, 79);
      border-radius: 50%;
      padding: 0;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 5;
    }
  }
  .album-card:hover {
    box-shadow: 7px 6px 5px rgba(8, 5, 2, 0.4);
    a {
      color: rgb(77, 2, 2);
    }
  }
  a {
    text-decoration: none;
    background-color: #fff;
    color: $primary;
  }
  img {
    width: 10rem;
    display: block;
    filter: invert(40%);
  }
}

@media screen and (max-width: 600px) {
  .album-list {
    justify-content: space-around;
  }
  .album-card {
    width: 8rem;
    max-height: 14rem;
    .album-Name,
    .album-Date {
      font-size: small;
    }
    img {
      width: 6rem;
    }
  }
}
