@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'variables';
@import 'navbar';
@import 'sidebar';
@import 'login';
@import 'createalbum';
@import 'dropzone';
@import 'images';
body {
  font-family: Poppins, sans-serif;
  text-align: center;
  font-size: 1.1em;
  margin: 0;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
label {
  display: block;
  margin: 24px auto;
  span {
    display: block;
    margin-bottom: 6px;
  }
}

input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.App {
  display: flex;
  .main-content {
    flex-grow: 1;
  }
}

.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: $primary;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid $primary;
}
.btn:hover {
  color: #fff;
  background-color: $primary;
}
